.title {
    padding: 8px;
    text-align: center;
    margin: 10px auto;
    background-color: rgb(141, 182, 243);
    color: aliceblue;
    font-size: 20px;
}

.list {
    width: 150px;
    padding: 8px;
    margin-top: 10px;
    background-color: rgb(141, 182, 243);

}

ul {
    background-color: aliceblue;
}